body{
    margin: 0;
    color: rgb(20, 16, 16);
    font-family: 'Poppins';
    background-color: #8DA892;
}


header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #ffffff;
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Poppins';
    font-size: 30px;
   
}

.navbar a{
   
    color: #666;    
}



.navbar a:hover {
    color: #8DA892;
    outline: none;
    text-transform: capitalize;
}
/* Tutup Header */

/* Booking */
.container{
    background: white;
    width: 40%;
    height: auto;
    padding: 15px;
    position: absolute;
    left: 30%;
    margin-top: 60px;
    outline: #666;
    
    border-radius: 5px;

}

input:invalid{
    background: #8DA892;
    border: 1px solid black;
}

input:valid{
    background: rgb(236, 233, 233);
}

.input-form {
    width: 95%;
    background: #f1e9e9;
    margin: 0.9%;
    padding: 10px;
    border: black;
    border-radius: 20px;
}



.input-form-number{
    width: 12%;
    background: #f9f9f9;
    margin: 1%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-form-value{
    width: 57.5%;
    background: #f9f9f9;
    margin: 1%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.btn-form-change{
  
    background:#4F845E;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    width: 15%;
    float: left;
    margin-left: 400px;
    cursor: pointer;
    margin-top: 900px;
    text-align: center;
    align-items: center;

}

.btn-form-pay{
  
    background: #EBC056;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    width: 15%;
    float: right;
    margin-right: 400px;
    cursor: pointer;
    margin-top: 900px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.btn-form-pay:hover{
    background:bisque;

}
.btn-form-change:hover{
    background: bisque;

}

.quantity-select{
    margin-top: 20px;
    margin-bottom: 20px;

}

.quantity-select input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
}




